.page-narrow {
  width: min(100% - 4rem, 1200px);
  margin: 0 auto;
  padding: 7rem 0rem;
}

.drawing-image {
  width: 600px;
  object-fit: cover;
}

.about-hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.about-hero p {
  margin-top: 7rem;
}

.about-me-image {
  width: 800px;
}

.about-hero-image {
  width: 400px;
}