.page-narrow {
  width: min(100% - 4rem, 1200px);
  margin: 0 auto;
  padding: 7rem 0rem;
}

.drawing-image {
  width: 600px;
  object-fit: cover;
}

.about-hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.about-hero p {
  margin-top: 7rem;
}

.about-me-image {
  width: 800px;
}

.about-hero-image {
  width: 400px;
}

.about-hero-text {
  padding: 0rem;
}

@media (max-width: 720px) {
  .about-hero {
    flex-direction: column;
    align-items: center;
  }

  .about-hero-text {
    margin-top: 0rem;
  }

  .about-me-image {
    width: 100%;
  }

  .about-hero-image {
    width: 100%;
  }
  .about-hero-text p {
    margin-top: 0rem;
  }
}