
.page-narrow {
  width: min(100% - 2rem, 1200px);
  margin: 0 auto;
  padding: 7rem 0rem;
}

.contact-text {
  margin-bottom: 4rem;
}

.contact-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.lead {
  width: min(100%, 500px);
  font-size: 1.15rem;
  margin-bottom: 20px;
}

.contact-list {
  display: grid;
  gap: 1.5rem;
  padding-left: 0rem;
  margin-bottom: 10rem;
  list-style: none;
}

.contact-list a {
  color:#180B0B;
  font-size: 1.5rem;
}
.contact-list a:hover,
.contact-list a:active {
  color:#B31619;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-icon,
.contact-icon-red {
  width: 60px;
  height: 60px;
  display: block;
}

.contact-icon-red {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity 0.2s ease;
}

.contact-list a {
  position: relative;
  display: inline-block;
}

.contact-list a:hover .contact-icon {
  opacity: 0;
}

.contact-list a:hover .contact-icon-red {
  opacity: 1;
}

@media (max-width: 720px) {
  .page-narrow {
    width: calc(100% - 2rem);
    padding: 7rem 0;
  }
}

