

.site-header-box {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fcfaf6;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  width: min(100% - 4rem, 1200px);
  margin: 0 auto;
  padding: 0rem 0;
}
.site-header img {
  width: 100px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.site-nav a {
  border-radius: 999px;
  color: #180B0B;
  padding: 0.55rem 0.8rem;
  text-decoration: none;
  letter-spacing: 0;
}

.site-nav a.active,
.site-nav a:hover {
  color:#B31619;
}

@media (max-width: 720px) {
  .site-header {
    flex-direction: row;
    align-items: center;
    width: calc(100% - 2rem);
  }

  .site-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 0.2rem;
    font-size: 1rem;
  }

  .site-nav a {
    padding: 0.4rem 0.5rem;
  }

  .site-header img {
    width: 75px;
  }
}

@media (max-width: 480px) {
  .site-header {
    
    align-items: center;
    gap: 0.5rem;
  }

  .site-nav {
    justify-content: center;
    gap: 0.2rem;
    font-size: 0.9rem;
  }

  .site-nav a {
    padding: 0.3rem 0.4rem;
  }

  .site-header img {
    width: 60px;
  }
}